@(id: Long, data: Form[ActorData])(implicit request: MessagesRequestHeader)
@main("Actors") {
<div class="container">
	<h1>Edit Actor @id</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(routes.ActorController.updateWidget(id)) {
		<fieldset>
			@CSRF.formField
			@inputText(data("name"), Symbol("_label") -> "Name")
    		  <button>Update Actor</button>
		</fieldset>
	}
	@*delete(routes.ActorController.deleteForm(id))*@
	<a class="button" href="@routes.ActorController.listWidget()">Back</a>
</div>
}


