@(widgets: Seq[Order], form: Form[OrderData], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Orders") {

    <h1>Widgets</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.user_id</td><td>@w.payment_id</td>
          <td><a href="@controllers.routes.OrderController.getWidget(w.id)">edit</a></td>
          <td><a href="@controllers.routes.OrderController.deleteWidget(w.id)">delete</a></td>
        </tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @{/* @helper.CSRF.formField  */}

      @helper.inputText(form("user_id"))
      @helper.inputText(form("payment_id"))

      <button>Create widget</button>
    }
  }
