@(widgets: Seq[User], form: Form[UserData], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Users") {

    <h1>Widgets</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.email</td><td>@w.password</td><td>@w.surname</td><td>@w.name</td><td>@w.address</td><td>@w.zipcode</td><td>@w.city</td><td>@w.country</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("email"))
      @helper.inputText(form("password"))
      @helper.inputText(form("surname"))
      @helper.inputText(form("name"))
      @helper.inputText(form("address"))
      @helper.inputText(form("zipcode"))
      @helper.inputText(form("city"))
      @helper.inputText(form("country"))

      <button>Create widget</button>
    }
  }
